header {
  padding: 0 2rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  & nav {
    max-width: 1400px;
    margin: 0 auto;
    & ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 24px 0;
      & .title-header {
        color: #111517;
        font-family: "Nunito Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
      }
      & li {
        & button {
          cursor: pointer;
          background: transparent;
          border: none;
          color: #111517;
          font-family: "Nunito Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
        }
      }
      & li {
        list-style-type: none;
      }
    }
  }
}
